<a href="https://colab.research.google.com/github/manoj4089/AI/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing the dependencies

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
#load dataset 
credit_card_data = pd.read_csv('/content/creditcard[1].csv')

<ipython-input-2-8f457ba5c108>:2: DtypeWarning: Columns (28) have mixed types. Specify dtype option on import or set low_memory=False.
  credit_card_data = pd.read_csv('/content/creditcard[1].csv')

In [3]:
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [5]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
136737,81844,-10.972016,-10.165075,0.579235,1.914312,3.971221,-3.571746,-1.678594,-0.472964,1.746022,...,-1.950947,1.310955,3.551754,0.384646,1.611309,1.441667,2.522778,-1.41864956210692,117.02,0.0
136738,81844,1.424511,-1.481277,0.827126,-1.263302,-1.806258,0.125942,-1.553317,0.090583,-0.915535,...,-0.275377,-0.339339,-0.071301,-0.464163,0.329077,-0.146875,0.066696,0.0310399021239038,58.00,0.0
136739,81845,1.067404,0.087153,0.100938,0.986393,-0.082482,-0.412316,0.255298,-0.118738,-0.350417,...,0.113590,0.182403,-0.230636,0.035431,0.690598,-0.336135,-0.002191,0.0222817106909724,85.90,0.0
136740,81846,-0.833219,0.746826,1.747488,-0.016827,-0.406360,0.205399,-0.314283,0.605285,0.109673,...,-0.001167,0.019274,-0.191846,-0.389853,-0.148594,0.426455,-0.013927,0.0384589819489235,6.80,0.0
136741,81847,-0.418805,0.740210,-0.340755,-0.849297,2.720622,3.617123,0.524513,0.658118,0.207301,...,-0.160854,-0.264370,-0.207264,0.987706,0.237498,-0.580972,-0.119332,-,NaN,NaN

In [6]:
#info about our dataset
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136742 entries, 0 to 136741
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    136742 non-null  int64
 1   V1      136742 non-null  float64
 2   V2      136742 non-null  float64
 3   V3      136742 non-null  float64
 4   V4      136742 non-null  float64
 5   V5      136742 non-null  float64
 6   V6      136742 non-null  float64
 7   V7      136742 non-null  float64
 8   V8      136742 non-null  float64
 9   V9      136742 non-null  float64
 10  V10     136742 non-null  float64
 11  V11     136742 non-null  float64
 12  V12     136742 non-null  float64
 13  V13     136742 non-null  float64
 14  V14     136742 non-null  float64
 15  V15     136742 non-null  float64
 16  V16     136742 non-null  float64
 17  V17     136742 non-null  float64
 18  V18     136742 non-null  float64
 19  V19     136742 non-null  float64
 20  V20     136742 non-null  float64
 21  V21     136742 non-null  float64
 22  V22     136742 non-null  float64
 23  V23     136742 non-null  float64
 24  V24     136742 non-null  float64
 25  V25     136742 non-null  float64
 26  V26     136742 non-null  float64
 27  V27     136742 non-null  float64
 28  V28     136742 non-null  object
 29  Amount  136741 non-null  float64
 30  Class   136741 non-null  float64
dtypes: float64(29), int64(1), object(1)
memory usage: 32.3+ MB

In [10]:
credit_card_data['Class'].value_counts()

0.0    136478
1.0       263
Name: Class, dtype: int64

In [11]:
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [12]:
print(legit.shape)
print(fraud.shape)

(136478, 31)
(263, 31)

In [13]:
 legit.Amount.describe()

count    136478.000000
mean         91.548835
std         248.415077
min           0.000000
25%           6.052500
50%          24.000000
75%          81.460000
max       19656.530000
Name: Amount, dtype: float64

In [14]:
fraud.Amount.describe()

count     263.000000
mean      115.821939
std       245.555287
min         0.000000
25%         1.000000
50%         9.990000
75%        99.990000
max      1809.680000
Name: Amount, dtype: float64

In [15]:
#to compare
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V19,V20,V21,V22,V23,V24,V25,V26,V27,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,51141.665880,-0.235795,0.003103,0.689845,0.132260,-0.277157,0.079918,-0.105512,0.061608,-0.084750,...,-0.020466,0.041525,-0.041068,-0.117106,-0.033825,0.012193,0.130395,0.023141,-0.000198,91.548835
1.0,42268.619772,-5.626583,3.954001,-7.166881,4.518643,-3.992721,-1.483299,-5.954429,1.511967,-2.609642,...,0.744724,0.240625,1.261098,-0.311839,-0.116866,-0.106327,0.198141,0.057140,0.491224,115.821939

Under-Sampling
buliding a sample dataset

In [16]:
 legit_sample = legit.sample(n=492)

conatenating two dataframe

In [17]:
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [18]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
43761,41643,0.285072,-1.694352,0.219812,0.385003,-0.931940,0.655308,-0.057294,0.249260,0.403892,...,0.292263,0.005042,-0.322178,-0.201629,-0.089071,1.011640,-0.113363,0.065529,438.47,0.0
59129,48706,-0.288824,1.190715,0.297254,0.993886,1.221853,-0.237301,0.656264,-0.051861,-1.002563,...,-0.058550,-0.070639,-0.288100,-0.848135,-0.074340,0.660213,0.122073,0.146585,0.76,0.0
23962,33001,-0.475068,0.451881,1.593759,0.704968,-0.105311,-0.256180,0.555362,0.044317,-0.211671,...,-0.010955,0.059272,0.165970,0.442871,-0.579560,0.270265,0.131752,0.163132,56.92,0.0
95026,65135,-0.500518,-0.592605,1.808145,-1.610057,-2.294763,-0.163734,-1.012021,0.525440,-1.739325,...,-0.084284,-0.000782,0.201403,0.357304,-0.136902,-0.234047,-0.052942,-0.019437,95.82,0.0
79763,58167,1.142500,-0.541431,0.832680,0.320201,-1.095008,-0.116674,-0.737188,0.244987,1.260577,...,0.048647,0.235733,-0.036890,0.110199,0.193408,1.187329,-0.047067,0.004248,29.95,0.0

In [19]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
124176,77202,-0.356326,1.435305,-0.813564,1.993117,2.055878,-0.543579,0.487691,0.085449,-0.536352,...,-0.312863,-0.687874,-0.267003,-1.158480,0.271460,-0.155397,0.114328,0.101526,1.00,1.0
125342,77627,-7.139060,2.773082,-6.757845,4.446456,-5.464428,-1.713401,-6.485365,3.409395,-3.053493,...,1.303250,-0.016118,-0.876670,0.382230,-1.054624,-0.614606,-0.766848,0.409424,106.90,1.0
128479,78725,-4.312479,1.886476,-2.338634,-0.475243,-1.185444,-2.112079,-2.122793,0.272565,0.290273,...,0.550541,-0.067870,-1.114692,0.269069,-0.020572,-0.963489,-0.918888,0.001454,60.00,1.0
131272,79540,-0.114361,1.036129,1.984405,3.128243,-0.740344,1.548619,-1.701284,-2.203842,-1.242265,...,-1.032935,1.196428,-0.112857,0.254719,0.696668,0.482370,0.129969,0.223924333790406,0.20,1.0
135718,81372,-0.885254,1.790649,-0.945149,3.853433,-1.543510,0.188582,-2.988383,1.344059,-2.294535,...,0.746160,0.550802,-0.034882,-0.567608,-0.528318,0.258782,0.506893,0.176735548819463,7.57,1.0

In [20]:
new_dataset['Class'].value_counts()

0.0    492
1.0    263
Name: Class, dtype: int64

In [21]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V19,V20,V21,V22,V23,V24,V25,V26,V27,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,51482.394309,-0.189651,0.111571,0.725878,0.150665,-0.210459,0.003698,-0.076871,0.021332,-0.116495,...,-0.072555,0.050938,-0.012834,-0.156220,-0.069630,-0.040890,0.131831,0.014797,0.026980,82.337358
1.0,42268.619772,-5.626583,3.954001,-7.166881,4.518643,-3.992721,-1.483299,-5.954429,1.511967,-2.609642,...,0.744724,0.240625,1.261098,-0.311839,-0.116866,-0.106327,0.198141,0.057140,0.491224,115.821939

Spliting the data into Features & Target

In [22]:
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

In [23]:
print(X)

         Time        V1        V2        V3        V4        V5        V6  \
43761   41643  0.285072 -1.694352  0.219812  0.385003 -0.931940  0.655308
59129   48706 -0.288824  1.190715  0.297254  0.993886  1.221853 -0.237301
23962   33001 -0.475068  0.451881  1.593759  0.704968 -0.105311 -0.256180
95026   65135 -0.500518 -0.592605  1.808145 -1.610057 -2.294763 -0.163734
79763   58167  1.142500 -0.541431  0.832680  0.320201 -1.095008 -0.116674
...       ...       ...       ...       ...       ...       ...       ...
124176  77202 -0.356326  1.435305 -0.813564  1.993117  2.055878 -0.543579
125342  77627 -7.139060  2.773082 -6.757845  4.446456 -5.464428 -1.713401
128479  78725 -4.312479  1.886476 -2.338634 -0.475243 -1.185444 -2.112079
131272  79540 -0.114361  1.036129  1.984405  3.128243 -0.740344  1.548619
135718  81372 -0.885254  1.790649 -0.945149  3.853433 -1.543510  0.188582

              V7        V8        V9  ...       V20       V21       V22  \
43761  -0.057294  0.249260  0.403892  ...  0.718962  0.292263  0.005042
59129   0.656264 -0.051861 -1.002563  ...  0.289334 -0.058550 -0.070639
23962   0.555362  0.044317 -0.211671  ...  0.124280 -0.010955  0.059272
95026  -1.012021  0.525440 -1.739325  ... -0.236330 -0.084284 -0.000782
79763  -0.737188  0.244987  1.260577  ... -0.210963  0.048647  0.235733
...          ...       ...       ...  ...       ...       ...       ...
124176  0.487691  0.085449 -0.536352  ...  0.303262 -0.312863 -0.687874
125342 -6.485365  3.409395 -3.053493  ... -0.616949  1.303250 -0.016118
128479 -2.122793  0.272565  0.290273  ... -0.718706  0.550541 -0.067870
131272 -1.701284 -2.203842 -1.242265  ...  0.732852 -1.032935  1.196428
135718 -2.988383  1.344059 -2.294535  ...  0.370041  0.746160  0.550802

             V23       V24       V25       V26       V27                V28  \
43761  -0.322178 -0.201629 -0.089071  1.011640 -0.113363           0.065529
59129  -0.288100 -0.848135 -0.074340  0.660213  0.122073           0.146585
23962   0.165970  0.442871 -0.579560  0.270265  0.131752           0.163132
95026   0.201403  0.357304 -0.136902 -0.234047 -0.052942          -0.019437
79763  -0.036890  0.110199  0.193408  1.187329 -0.047067           0.004248
...          ...       ...       ...       ...       ...                ...
124176 -0.267003 -1.158480  0.271460 -0.155397  0.114328           0.101526
125342 -0.876670  0.382230 -1.054624 -0.614606 -0.766848           0.409424
128479 -1.114692  0.269069 -0.020572 -0.963489 -0.918888           0.001454
131272 -0.112857  0.254719  0.696668  0.482370  0.129969  0.223924333790406
135718 -0.034882 -0.567608 -0.528318  0.258782  0.506893  0.176735548819463

        Amount
43761   438.47
59129     0.76
23962    56.92
95026    95.82
79763    29.95
...        ...
124176    1.00
125342  106.90
128479   60.00
131272    0.20
135718    7.57

[755 rows x 30 columns]

In [24]:
print(Y)

43761     0.0
59129     0.0
23962     0.0
95026     0.0
79763     0.0
         ...
124176    1.0
125342    1.0
128479    1.0
131272    1.0
135718    1.0
Name: Class, Length: 755, dtype: float64

Split the value into Trainind data & testing data

In [25]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify = Y, random_state=2)

In [28]:
print(X.shape, X_train.shape, X_test.shape)

(755, 30) (604, 30) (151, 30)

Model Training

Logistic regression

In [29]:
model = LogisticRegression()

training the logistic regression model

In [30]:
model.fit(X_train, Y_train)

/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

Accuracy score

In [31]:
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [32]:
print('Accuracy on Training Data : ', training_data_accuracy)

Accuracy on Training Data :  0.9536423841059603

In [33]:
  #accuracy on test data
  X_test_prediction = model.predict(X_test)
  test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [34]:
print('Accuracy score on Test Data: ',test_data_accuracy)

Accuracy score on Test Data:  0.9403973509933775